body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  
  flex-direction: column;
  justify-content: space-between;
}
header {
  border: 1px solid red;
}
main {
  border: 1px solid rgb(220, 241, 30);
}
  
footer {
  border: 1px solid rgba(62, 224, 12, 0.843);
}